<div class="treeview w-20 border">
  <h6 class="pt-3 pl-3">Folders</h6>
  <hr>
  <ul class="mb-1 pl-3 pb-2" id="sdcard_view">
    
  </ul>
</div>


<script type="text/javascript">

	function build_treeview(parent, obj) {

		var html = '';

		for (item in obj) {
			
			html += '<li>';

			if (obj[item] instanceof Object) {
				html += '<i class="fas fa-angle-right rotate"></i>';
				html += '<span><i class="fas fa-folder ic-w mx-1"></i>'+item+'</span>';
				new_parent = parent + '_' + item;
				html += '<ul class="nested" id="'+new_parent+'">';
				html += build_treeview(new_parent, obj[item]);
				html += '</ul>';
			} else {
				html += '<i class="fas fa-file ic-w mx-1"></i>'+item;
			}

			html += '</li>';
		}

		return html;
	}

	function ls_sdcard() {
		{% if jekyll.environment == "production" %}
			json_data.command = "get_configs_sdcard_files";

			var xhr = new XMLHttpRequest();
			xhr.open('POST', '');
			xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
			xhr.send(JSON.stringify(json_data));

			xhr.onload = function(e) {
				xhr = e.target

				var obj = JSON.parse(xhr.responseText)
			}
		{% elsif jekyll.environment == "development" %}
			var obj = JSON.parse(`{
				"jtag": {
					"frame_addresses.txt": "/jtag/frame_addresses.txt"
				},
				"scrubber": {
					"logs": {
						"35.txt": "/scrubber/logs/35.txt"
					},
					"framedata.bin": "/scrubber/framedata.bin"
				}
			}`);
		{% endif %}

		// Creating treeview from json object data
		var html = build_treeview("sdcard_view", obj);
		$('#sdcard_view').append(html);
	}
	
	// Treeview Initialization
	$(document).ready(function() {
		// ls_sdcard();
		// $('.treeview').mdbTreeview();
	});
</script>