<select class="custom-select" id="register">
	<option value="0">CRC</option>
	<option value="1">FAR</option>
	<option value="2">FDRI</option>
	<option value="3">FDRO</option>
	<option value="4">CMD</option>
	<option value="5">CTL0</option>
	<option value="6">MASK</option>
	<option value="7">STAT</option>
	<option value="8">LOUT</option>
	<option value="9">COR0</option>
	<option value="a">MFWR</option>
	<option value="b">CBC</option>
	<option value="c" selected>IDCODE</option>
	<option value="d">AXSS</option>
	<option value="e">COR1</option>
	<option value="10">WBSTAR</option>
	<option value="11">TIMER</option>
	<option value="16">BOOTSTS</option>
	<option value="18">CTL1</option>
	<option value="1f">BSPI</option>
</select>