<select class="custom-select" id="register">
	<option value="2">USER1</option>
	<option value="3">USER2</option>
	<option value="22">USER3</option>
	<option value="23">USER4</option>
	<option value="4">CFG_OUT</option>
	<option value="5">CFG_IN</option>
	<option value="9" selected>IDCODE</option>
</select>