---
---

<!DOCTYPE html>
<html>
<head>
	{% include header.html %}

	<title>{{ page.title }}</title>

</head>
<body>

	<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="/">Modules</a>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-link {% if page.module == 'config' %} active {% endif %}" href="{{ '/pages/configuration/' | relative_url }}">Configuration</a>
				<a class="nav-link {% if page.module == 'finj' %} active {% endif %}" href="{{ '/pages/finjection/' | relative_url }}">Fault Injection</a>
				<a class="nav-link {% if page.module == 'scrubber' %} active {% endif %}" href="{{ '/pages/scrubber/' | relative_url }}">Scrubber</a>
				<a class="nav-link {% if page.module == 'scrubber_fr' %} active {% endif %}" href="{{ '/pages/scrubber_fr/' | relative_url }}">Scrubber FR</a>
				<a class="nav-link {% if page.module == 'scrubber_blind' %} active {% endif %}" href="{{ '/pages/scrubber_blind/' | relative_url }}">Scrubber Blind</a>
			</div>
		</div>
		<div class="navbar-nav">
			<a href="{{ 'help.html' | relative_url }}"><i class="far fa-question-circle"></i></a>
		</div>
	</nav>


	{{ content }}

	{% include footer.html %}

	<script type="text/javascript">
		var json_data = {
			module: "{{ page.module }}"
		};
	</script>
</body>
</html>