---
layout: default
---

<div class="container">

	<nav class="nav">
		<a class="nav-link" href="{{ '/pages/finjection/read_jreg.html' | relative_url }}">Read jreg</a>
		<a class="nav-link" href="{{ '/pages/finjection/write_jreg.html' | relative_url }}">Write jreg</a>
		<a class="nav-link" href="{{ '/pages/finjection/read_creg.html' | relative_url }}">Read creg</a>
		<a class="nav-link" href="{{ '/pages/finjection/write_creg.html' | relative_url }}">Write creg</a>
		<a class="nav-link" href="{{ '/pages/finjection/read_frames.html' | relative_url }}">Read frames</a>
		<a class="nav-link" href="{{ '/pages/finjection/write_frames.html' | relative_url }}">Write frames</a>
		<a class="nav-link" href="{{ '/pages/finjection/injection.html' | relative_url }}">Inject Error</a>
	</nav>

	<select class="custom-select" id="jtagPort">
		<option selected disabled>Select Jtag port</option>
		<option value="JC">JC</option>
		<option value="JD">JD</option>
	</select>

</div>

<script type="text/javascript">

	function setCookie(name,value,days) {
		var expires = "";
		if (days) {
			var date = new Date();
			date.setTime(date.getTime() + (days*24*60*60*1000));
			expires = "; expires=" + date.toUTCString();
		}
		document.cookie = name + "=" + (value || "")  + expires + "; path=/";
	}

	function getCookie(name) {
		var nameEQ = name + "=";
		var ca = document.cookie.split(';');
		for(var i=0;i < ca.length;i++) {
			var c = ca[i];
			while (c.charAt(0)==' ')
				c = c.substring(1,c.length);
			if (c.indexOf(nameEQ) == 0)
				return c.substring(nameEQ.length,c.length);
		}
		return null;
	}

	$("#jtagPort").change(function () {
		setCookie("jtagPort", $("#jtagPort").val(), 0);
	});

	$(document).ready(function () {
		var jtag_option = getCookie("jtagPort");
		if (jtag_option)
			$("#jtagPort").val(jtag_option);
	});


</script>

<br/>

{{ content }}
